$add-bcg-color: #7e1717;
$add-button-filter-color: invert(36%) sepia(78%) saturate(3606%)
	hue-rotate(11deg) brightness(101%) contrast(94%);
$add-button-filter-color-hover: invert(24%) sepia(89%) saturate(1791%)
	hue-rotate(11deg) brightness(98%) contrast(95%);
$add-form-height: 290px;
$add-form-padding-top: 20px;
$add-form-padding-vertical: 10px;

$body-bcg-color: #ecf8f9;
$border-color: rgb(171, 171, 171);

$btn-cancel-color: #068da9;
$btn-delete-color: #7e1717;
$btn-edit-margin: 5px 10px;
$btn-edit-width: 200px;
$btn-submit-color: #e55807;

$delete-btn-filter-color: invert(13%) sepia(63%) saturate(3066%)
	hue-rotate(346deg) brightness(95%) contrast(97%);
$delete-height: 25px;
$delete-width: 25px;

$details-btn-margin: 10px;
$details-buttons-margin-top: 20px;
$details-img-size: 25px;

$header-bcg-color: white;
$header-box-shadow: 0px 1px 18px -1px rgba(76, 76, 76, 0.34);
$header-padding: 20px 0;

$input-magrin-bottom: 8px;

$main-bcg-color: rgb(226, 226, 240);

$popup-btn-margin-horizontal: 10px;
$popup-font-size: 1.2rem;
$popup-margin: 10px;
$popup-padding: 40px 30px;
$popup-title-margin-bottom: 15px;

$task-description-font-size: 1rem;
$task-title-font-size: 1.4rem;

$spinner-bcg-color: rgba(218, 218, 218, 0.604);
$svg-bcg-color: #ecf8f9;
$spinner-color: rgb(88, 88, 139);
$svg-hover-bcg-color: #a3e8ee;

$task-bcg-color: white;
$task-border-radius: 5px;
$task-box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.37);
$task-box-shadow-hover: 7px 7px 13px -3px rgba(0, 0, 0, 0.32);
$task-delete-btn-height: 40px;
$task-margin-top: 10px;
$task-max-width: 500px;
$task-padding: 10px;
$task-transition-time: 0.2s;

$task-details-margin-bottom: 20px;
$task-details-max-width: 700px;
$task-details-padding: 15px;

@mixin date {
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px solid $border-color;
	font-size: 0.8rem;
}
